.userDataForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25vw;

  .predefinedFields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .fieldLabel {
      }

      .description {
        inline-size: 165px;
        resize: none;
      }

      .description:focus {
        outline: none;
      }

      .errorPredefined {
        color: brown;
        font-size: 12px;
        position: absolute;
        top: 24px;
        right: 0;
      }

      .errorContact {
        color: brown;
        font-size: 12px;
        position: absolute;
        top: 50px;
        left: 178px;
      }

      .inputError {
        outline: 3px solid brown;
      }
    }

    .renderFieldsContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 20px;
    }

    .addFieldButton {
      inline-size: 50px;
      block-size: 50px;
      border-radius: 50%;
      color: #38ab9e;
      outline: 3px solid #38ab9e;
      background: transparent;
      cursor: pointer;
      margin-top: 20px;
      align-self: flex-start;
      position: absolute;
      top: 0;
      right: -100px;
    }

    .removeFieldButton {
      inline-size: 50px;
      block-size: 50px;
      border-radius: 50%;
      color: #38ab9e;
      outline: 3px solid #38ab9e;
      background: transparent;
      cursor: pointer;
      margin-top: 20px;
      align-self: flex-start;
    }
  }

  .additionalFields {
    display: flex;
    flex-direction: column;

    .addFieldContainer {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0 0;
    }

    .socialsContainer {
      display: flex;
      align-items: center;
      gap: 60px;
    }

    .socialListItem {
      position: relative;

      .errorSocial {
        inline-size: 400px;
        color: brown;
        font-size: 12px;
        position: absolute;
        top: 28px;
        left: -2px;
      }

      .inputError {
        outline: 3px solid brown;
      }
    }

    .socialsIcons {
      display: flex;
      gap: 20px;
      padding: 20px 0 0 0;
      position: relative;
    }

    .sodcialsFields {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .socialIcon {
      block-size: 60px;
      border-radius: 10px;
      cursor: pointer;
    }

    .highlighted {
      outline: 3px solid #38ab9e;
    }

    .removeButton {
      width: 80px;
    }
  }

  .submitButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submitButton:disabled {
    cursor: not-allowed;
  }
}

.toastError {
  // класс для стилизации всплывающего уведомления toast
}
