.userDataForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25vw;

  .predefinedFields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .errorMessage {
        color: brown;
        font-size: 12px;
        position: absolute;
        top: 24px;
        right: 0;
      }

      .inputError {
        outline: 3px solid brown;
      }
    }
  }

  .additionalFields {
    display: flex;
    flex-direction: column;

    .addFieldContainer {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 0 0;
    }

    .socials {
      display: flex;
      gap: 20px;
      padding: 20px 0 0 0;
      position: relative;

      .errorMessage {
        color: brown;
        font-size: 12px;
        position: absolute;
        top: 45px;
        right: 0;
      }

      .inputError {
        outline: 3px solid brown;
      }
    }

    .removeButton {
      width: 80px;
    }
  }

  .submitButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submitButton:disabled {
    cursor: not-allowed;
  }
}


