:root {
  // colors
  --background-color: #161616;
  --primary-font-color: #d6d6d6;
  --accent-color: #000;

  // fonts
  --primary-font-family: 'Montserrat', 'Inter-Variable', 'Helvetica', Arial,
    sans-serif;
  --secondary-font-family: 'Helvetica', Arial, sans-serif;
  --primary-font-size: 18px;
  --title-font-weight: 700;

  // sizes
  --padding-container: 0 20px;
}
