:root {
  // colors
  --background-color: #201c1d; //#161616
  --primary-font-color: #f5f5f5; //#d6d6d6
  --accent-color: #38ab9e; //#000

  // fonts
  --primary-font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  --secondary-font-family: 'Helvetica', Arial, sans-serif;
  --primary-font-size: 18px;
  --title-font-weight: 700;

  // sizes
  --padding-container: 0 20px;
}
